.main {
  display: flex;
  justify-content: space-between;
  .mini {
    padding-top: 20px;
    min-width: 200px;
    height: 800px;
    margin-right: 100px;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    flex-flow: column;

    img.borehole {
      position: absolute;
      z-index: 1;
      //display: none;
    }
    .mini__tube {
      min-height: 150px;
      width: 100%;
      position: absolute;

      .mini__tube_tube {
        height: 100px;
        width: 100%;
        z-index: 1;
        background: url(img/tube.jpg);
        background-repeat: repeat-y;
        background-size: 22px;
        background-position-x: 76px;
      }
      .mini__tube_packer {
        position: relative;
        height: 60px;
        width: 100%;
        z-index: 0;
        background: url(img/packer.jpg);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position-x: 76px;
      }

      img.packer {
        position: relative;
        z-index: 99;
        width: 22px;
        left: 76px;
        top: -8px;
      }

    }

    .mini__coilTubing {
      position: absolute;
      min-height: 150px;
      width: 100%;
      top: -50px;
      div{
      .mini__aspo{
        opacity: 0;
        width: 100%;
        height: 20px;
        z-index: 1;
        background: url(img/nozzle.png);
         background-repeat: repeat-y;
        background-size: 4px;
        background-position-x: 87px;
        position: relative;
        top: 200px;
        transition: opacity 0.5s cubic-bezier(0, 0, 1, 1);
        
      }
      .mini__coilTubing_tube {
        width: 100%;
        height: 30px;
        z-index: 1;
        background: url(img/truba.png);
        background-repeat: repeat-y;
        background-size: 4px;
        position: relative;
        background-position-x: 85px;
      }
      .mini__coilTubing_nozzle {
        width: 100%;
        height: 20px;
        z-index: 1;
        background: url(img/nozzle.png);
        background-repeat: no-repeat;
        background-size: 4px;
        position: relative;
        background-position-x: 85px;

        img{
          opacity:0;
          width: 17px;
          left: 78px;
          position: relative;
          top: -15px;
        }
      }
      }
    }


    .mini__corks{
      display: flex;
      flex-flow: column-reverse;
      flex-grow: 9;
      width:100%;
      .mini__cork{
        // height: 200px;
        display: flex;
        flex-flow:column nowrap;

        
        transition: height 2s ease-in, opacity 2.1s ease-in  ;
        .cork{
          height: 20px;
          background: url(img/cork.gif);
          background-size: cover;
          transition: opacity 0.5s cubic-bezier(0, 0, 1, 1);
        }
        .propant{
          flex: 9 1 35px;
          background: url(img/propantpost.gif);
          background-size: cover;
        }
      }

    }
  }
  .magnifier {
    width: 200px;
    transform: scale(4);
    position: absolute;
    top: 1000px;
    left: 250px;
  }
    .circle{
      position: absolute;
      width: 600px;
      height: 600px;
      left: 220px;
        
      border: 1px solid red;
      border-radius: 50%;
      overflow: hidden;
    }


}

.range {
  z-index: 9999;
  display: flex;
  input {
    width: 50%
  }

}


.schemeStrapping{
  background: url(./img/schemeStrapping/schemeStrapping.png);
  width: 900px;
  height: 900px;
  background-size: contain;
  position: relative;
  left: 500px;
  background-repeat: no-repeat;
      background-color: gray;
}

.kvd{
  position: absolute;  
  background: url(./img/schemeStrapping/kvd3.png);
  width: 25px;
  height: 25px;
  background-size: contain;
   transition: all 1s ease-in-out;
    border-radius: 50%;
   box-shadow: 0 0 15px #3a3a3a, 0px 0px 3px rgba(241, 9, 9, 0.65);
}

.valve{
  position: absolute;  
  background: url(./img/schemeStrapping/valve.png);
  width: 40px;
  height: 40px;
  background-size: contain;
   transition: all 3s ease-in-out;
   border-radius: 50%;
   box-shadow: 0 0 15px #3a3a3a, 0px 0px 3px rgba(241, 9, 9, 0.65);
}

.r1{
  top: 424px;
  left: 147px;
}

.r2{
  top: 541px;;
  left: 147px;
}

.r3{
  top: 598px;
  left: 147px;
}
.d1{
  top: 436px;
  left: 457px;
}
.d2{
  top: 436px;
  left:659px;;
}
.d3{
  top: 368px;
  left: 457px;
}
.d4{
  top: 369px;
  left: 659px;
}
.d5{
  top: 163px;
  left: 431px;
}
.d6{
    top: 197px;
    left: 464px;
}
.d7{
     top: 350px;
    left: 600px;
}
.d8{
    top: 230px;
    left: 430px;
}
.d9{
  top: 230px;
  left: 498px;
}

.d10{
    top: 261px;
    left: 691px;
}
.d11{
     top: 300px;
    left: 525px;
}
.d12{
     top: 300px;
    left: 591px;
}
// 
.d13{
     top: 575px;
    left: 376px;
}
.d14{
     top: 575px;
    left: 470px;
}
.d15{
     top: 575px;
    left: 543px;
}

// 
.d16{
     top: 625px;
    left: 419px;
}
.d17{
     top: 625px;
    left: 587px;
}

// 
.d18{
     top: 675px;
    left: 376px;
}
.d19{
     top: 675px;
    left: 470px;
}
.d20{
     top: 675px;
    left: 543px;
}


.kvdOf{
  transform: rotate(90deg)  scale(1.1);
}

.valveOf{
  transform: rotate(1890deg) scale(1.1);
  
}

.waterlevel{
  position: relative;
  width: 5px;
  height: 50px;
  top: 406px;
  left: 349px;
  border: 1px solid #3a3a3a;
  display: flex;
  justify-content: space-between;
  flex-flow: column;

}
.level{
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background-color: rgba(0, 20, 255, 0.6);
}
.procBlock{
  border-bottom: 1px solid #3a3a3a;
}