section.schemeStrapping
    .one.kvd
    .valve.christmasTree.r1
    .valve.christmasTree.r2
    .valve.christmasTree.r3
    .valve.christmasTree.r4
    .valve.christmasTree.r5
    .valve.christmasTree.r6
    .valve.christmasTree.r7
    .valve.christmasTree.r8
    .valve.christmasTree.r9
    .valve.christmasTree.r10

    .three.kvd.d1
    .three.kvd.d2
    .three.kvd.d3
    .three.kvd.d4
    .three.kvd.d5
    .three.kvd.d6
    .three.kvd.d7
    .three.kvd.d8
    .three.kvd.d9
    .three.kvd.d10
    .three.kvd.d11
    .three.kvd.d12
    .three.kvd.d13
    .three.kvd.d14
    .three.kvd.d15
    .three.kvd.d16
    .three.kvd.d17
    .three.kvd.d18
    .three.kvd.d19
    .three.kvd.d20
    .waterlevel
        .level
        - for(var i = 0; i<10; i++ )
            .procBlock

