section.schemeStrappings
  
  // Давление в линии высокого давления (барометр)  
  .gaugePressurePipe
    span#gaugePressurePipe 666
    span bar
    
  // Давление в трубопроводе (барометр)   
  .gaugePressurePipeline
    span#gaugePressurePipeline 666
    span bar
    
  // Давление насоса по азоту (барометр)   
  .gaugePumpPressureForNitrogen
    span#gaugePumpPressureForNitrogen 666
    span bar
    
  // Давление насоса (барометр)   
  .gaugePumpPressure
    span#gaugePumpPressure 666
    span bar
    
  #christmasTree_1.schemeStrapping.valve.christmasTree.valveOf
  #christmasTree_2.schemeStrapping.valve.christmasTree.valveOf
  #christmasTree_3.schemeStrapping.valve.christmasTree.valveOf


  // малый затрубок
  #smallBranch_1.schemeStrapping.kvd.christmasTree.kvdOf
  #smallBranch_2.schemeStrapping.kvd.christmasTree.kvdOf

  // меж колонка
  #betweenColumn_1.schemeStrapping.valve.christmasTree.valveOf
  #betweenColumn_2.schemeStrapping.valve.christmasTree.valveOf

  // затрубная задвижка
  #branchValue_1.valve.christmasTree.schemeStrapping.valveOf
  #branchValue_2.valve.christmasTree.schemeStrapping.valveOf

  // струна
  #string_1.valve.christmasTree.schemeStrapping.valveOf
  #string_2.valve.christmasTree.schemeStrapping.valveOf

  // дросель
  #throttle_1.schemeStrapping.kvd.throttle.kvdOf
  #throttle_2.schemeStrapping.kvd.throttle.kvdOf
  #throttle_3.schemeStrapping.kvd.throttle.kvdOf
  #throttle_4.schemeStrapping.kvd.throttle.kvdOf
  #throttle_5.schemeStrapping.kvd.throttle.kvdOf
  #throttle_6.schemeStrapping.kvd.throttle.kvdOf
  #throttle_7.schemeStrapping.kvd.throttle.kvdOf
  #throttle_8.schemeStrapping.kvd.throttle.kvdOf
  
  // линия высокого давления
  #highPressureLine_1.kvd.schemeStrapping.kvdOf
  #highPressureLine_2.kvd.schemeStrapping.kvdOf
  #highPressureLine_3.kvd.schemeStrapping.kvdOf

  // линия высокого давления азотная установка
  #highPressureLineNitrogen.kvd.schemeStrapping.kvdOf

  // линия высокого давления насосная установка
  #highPressureLinePomp.kvd.schemeStrapping.kvdOf

  // линия низкого давления
  
  // линия низкого давления  кислотная установка` - 
  #lineLowPressureAcid.kvd.schemeStrapping.kvdOf
  // линия низкого давления  кислотная установка_1` 
  #lineLowPressureAcid_1.kvd.schemeStrapping.kvdOf
  // линия низкого давления  кислотная установка_2` 
  #lineLowPressureAcid_2.kvd.schemeStrapping.kvdOf

  // линия низкого давления  резервуар` - 
  #lineLowPressureReservoir.kvd.schemeStrapping.kvdOf
  // линия низкого давления  резервуар_1` 
  #lineLowPressureReservoir_1.kvd.schemeStrapping.kvdOf
  // линия низкого давления  резервуар_2` 
  #lineLowPressureReservoir_2.kvd.schemeStrapping.kvdOf
  // линия низкого давления  циркуляционная емкость` 
  #lineLowPressureCirculation.kvd.schemeStrapping.kvdOf
    
  .pressure_nitrogen  
    .pressure 
      .pressure_buttonPlus= '+'
      .pressure_buttonMinus= '-'
    
  .pressure_pomp
    .pressure 
      .pressure_buttonPlus= '+'
      .pressure_buttonMinus= '-'
          
